<div style="padding: 20px;">
  <h3>apollo-hasura-learning</h3>

<div style="padding: 20px;">
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>UMRN</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Doctore</th>
        <th>Access</th>
        <th>Procedure</th>
        <th>Aneurysm</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cases$ | async">
        <td>
          {{ item.id }}
        </td>
        <td>
          {{ item.date }}
        </td>
        <td>
          {{ item.patient ? item.patient.umrn : ""}}
        </td>
        <td>
          {{ item.patient ? item.patient.lastname : ""}}
        </td>
        <td>
          {{ item.patient ? item.patient.firstname : ""}}
        </td>
        <td>
          {{ item.doctor ? item.doctor.name : ""}}
        </td>
        <td>
          {{ item.access ? item.access.vessel : ""}}
        </td>
        <td>
          {{ item.procedure ? item.procedure.text : ""}}
        </td>
        <td>
          {{ item.aneurysm ? item.aneurysm.site : ""}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>
